<!doctype html>
<html class="no-js" lang="">
    <head>
    	<title>Chelsea Evans</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="Chelsea Evans">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/css/vendor/font-awesome/css/font-awesome.css">
        
        <!-- google font -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Alegreya:400,700' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
		<div id="links">
			<ul>
				<li>
					</a>
					<a href="#portfolio">Portfolio</a>
				</li>
				<li>
					</a>
					<a href="#about">About</a>
				</li>
				<li>
					</a>
					<a href="#contact">Contact</a>
				</li>
				<li>	
					<a href="http://chelseaevansux.tumblr.com/" target="_blank" title="Tumblr">Blog</a>
				</li>
			</ul>
		</div>
		<div id="main">
			<a href="/">
				<p>chelsea evans</p>
			</a>
		</div>
		<div id="portfolio">
			<h2>My latest work:</h2>
				<ul id="portfolio-projects">
				</ul>
			<h2>Find out more on  <a href="http://www.behance.net/chelseaevans" target="_blank" title="Behance"><i class="fa fa-behance-square fa-2x"></i></a>
			</h2>
		</div>
		<div id="about">
			<p>Chelsea Evans is a UX designer residing in Boston.</p>

			<p>She loves consuming and interpreting the endless stream of new information that comes along with designing things for users in a society with ever-shifting needs and motivations.</p>

			<p>She also enjoys bouts of physical and mental exploration, eating new foods in new places, drawing, being in bodies of water, daydreaming, plants and bugs and small things.</p>
		</div>
		<div id="contact">
		    <div id="cloud">
				<img src="/images/cloudsmall.jpg" />
			</div>
			<ul>
				<li>
					</a>
					<a href="http://www.instagram.com/chel__sees" target="_blank" title="Instagram">
						<i class="fa fa-instagram fa-2x"></i>
					</a>
				</li>
				<li>	
					<a href="http://twitter.com/chel_nova" target="_blank" title="Twitter">
						<i class="fa fa-twitter fa-2x"></i>
					</a>
				</li>
				<li>	
					<a href="http://www.linkedin.com/in/chelseamevans/" target="_blank" title="LinkedIn">
						<i class="fa fa-linkedin fa-2x"></i>
					</a>
				</li>
				<li>	
					<a href="http://www.google.com/+ChelseaEvans13" target="_blank" title="Google+">
						<i class="fa fa-google-plus fa-2x"></i>	
					</a>
				</li>
				<li>
					<a href="mailto:chelseamarieevans@gmail.com" title="Gmail">
						<i class="fa fa-envelope-square fa-2x"></i>
					</a>
				</li>
			</ul>
		</div>
    </body>
</html>