<!-- MAIN -->
<div id="main">
    <div class="container">
        <h1>Hi I'm Chelsea,</h1>
        <h2>a designer living at the intersection of business, technology, and UX; tangibly living in Boston.</h2>
    </div>
    <a href="#work"><i class="center fa fa-angle-down"><p class="center">work.</p></i></a>
</div>
<!-- WORK -->
<div id="work">
    <div class="individual-project">
        <div class="container">
            <img class="img-responsive col-md-6" src="images/RK_prefs.png" />
            <div class="col-md-6">
                <h1>RUNKEEPER</h1>
                <h3>Designed a new weather feature to integrate into the existing mobile app.</h3>
                <a href="/project-runkeeper" class="font-spacing-md btn btn-primary">VIEW PROJECT</a>
            </div>
        </div>
    </div>
    <div class="individual-project">
        <div class="container">
            <img class="img-responsive col-md-6" src="images/Webmd_imac.png" />
            <div class="col-md-6">
                <h1>WEBMD</h1>
                <h3>Created a personalized health profile tool within the website that streamlines workflows for users.</h3>
                <a href="/project-webmd" class="font-spacing-md btn btn-primary">VIEW CASE STUDY</a>
            </div>
        </div>
    </div>
    <div class="individual-project">
        <div class="container">
            <img class="img-responsive col-md-6" src="images/timetogo_home.png" />
            <div class="col-md-6">
                <h1>TIME TO GO</h1>
                <h3>Designed a mobile application that helps users arrive on time to their destination.</h3>
                <a href="/project-timetogo" class="font-spacing-md btn btn-primary">VIEW CASE STUDY</a>
            </div>
        </div>
    </div>
    <div class="individual-project">
        <div class="container">
            <img class="img-responsive col-md-6" src="images/imac_truespirit.png" />
            <div class="col-md-6">
                <h1>TRUESPIRIT</h1>
                <h3>Designed an e-commerce site for a school uniform company.</h3>
                <a href="/project-truespirit" class="font-spacing-md btn btn-primary">VIEW CASE STUDY</a>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT -->
<div id="about">
    <div class="container">
        <h1 class="col-md-11 col-md-offset-1">ABOUT</h1>
        <div class="col-md-6 col-md-offset-1 col-sm-7">
            <p>Chelsea loves consuming and interpreting the endless stream of new information that comes along with designing things for users in an industry that moves forward so breathtakingly fast.</p>
            <p>She's curious about most things; enjoy bouts of physical and mental exploration, listening to music, eating new foods in new places, being in bodies of water, trees and bugs and outdoor things.</p>
            <p>Chelsea calls Mobiquity in Waltham, MA her home base where she works with other awesome humans to inject life into stories.</p>
            <p><a href="http://chelseaevansux.tumblr.com/" target="_blank" title="blog" class="font-spacing-md btn btn-primary">BLOGGING HERE</a><a href="images/Chelsea_Evans_Resume2.pdf" target="_blank" title="Resume" class="font-spacing-md btn btn-primary">VIEW MY RESUME</a>
            </p>
        </div>
        <img class="img-responsive col-md-3 col-sm-5 hidden-xs" src="images/chelseacrab.png" />
    </div>
</div>
<!-- EMAIL -->
<div id="email" class="center">
    <!--     <h2>Let's create</h2> -->
    <h4>Let's create together.</h4>
    <a href="mailto:chelseamarieevans@gmail.com" title="Gmail" class="font-spacing-md btn btn-primary">CONTACT ME</a>
</div>
