<!doctype html>
<html class="no-js" lang="">

<head>
    <title>Chelsea Evans</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Chelsea Evans">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//use.typekit.net/pgf8rtl.js"></script>
    <script>
    try {
        Typekit.load();
    } catch (e) {}
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/vendor/font-awesome/css/font-awesome.css">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-fixed-top" id="header" role="navigation">
        <div class="container-fluid">
            <div class="pull-left" id="logo">
                <a href="/">
                    <img src="/images/chelsealogo.png">
                </a>
            </div>
            <div id="links">
                <ul>
                    <li>
                        </a>
                        <a href="#work">WORK</a>
                    </li>
                    <li>
                        </a>
                        <a href="#about">ABOUT</a>
                    </li>
                    <li>
                        <a href="http://chelseaevansux.tumblr.com/" target="_blank" title="Tumblr">BLOG</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- MAIN -->
    <div id="main">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <span id="main-circle" class="hidden-xs">
                </span>
                <h1>Hey, it's me.</h1>
                <img class="img-circle" src="/images/chelseasquare.png">
            </div>
        </div>
        <div class="container-fluid">
            <div>
                <span id="main-circle-two" class="col-md-4 col-md-offset-8 hidden-xs">
                </span>
                <h2>I'm Chelsea Evans, a UX designer residing in Boston.</h2>
            </div>
        </div>
    </div>

    <!-- WORK -->
    <div id="work">
        <h1 class="center">Here's my work.</h1>
        <div class="container">
            <a href="/project-runkeeper">
                <div class="col-md-5 col-md-offset-1">
                    <img class="img-responsive center-block" src="images/runkeeper_link.png" />
                    <p class="center">RunKeeper: New weather feature</p>
                </div>
            </a>
            <a href="/project-webmd">
                <div class="col-md-5">
                    <img class="img-responsive center-block" src="images/webmdlink.png" />
                    <p class="center">WebMD: New personalized profile</p>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="/project-timetogo">
                <div class="col-md-5 col-md-offset-1">
                    <img class="img-responsive center-block" src="images/timetogo_link.png" />
                    <p class="center">TIME to GO: Mobile application</p>
                </div>
            </a>
            <a href="/project-truespirit">
                <div class="col-md-5">
                    <img class="img-responsive center-block" src="images/truespirit_link.png" />
                    <p class="center">Truespirit: E-commerce website</p>
                </div>
            </a>
        </div>
        <div class="container">
            <span id="about-circle">
            </span>
        </div>
    </div>
    <!-- ABOUT -->
    <div id="about">
        <div class="container">
            <div class="col-md-6 col-md-offset-1">
                <h1>And here's more about me.</h1>

                <p>I love consuming and interpreting the endless stream of new information that comes along with designing things for users in an industry that moves forward so breaktakingly fast.</p>

                <p>I find teams to be a place where information architecture differences are explored with the goal being to find the optimum solution driven directly by feedback from users.</p>

                <p>I also enjoy bouts of physical and mental exploration, listening to music, eating new foods in new places, being in bodies of water, drawing, daydreaming, trees and bugs and miniature things.</p>

                <p>Find more UX musings on my <a href="http://chelseaevansux.tumblr.com/" target="_blank" title="Tumblr">blog</a> and view my resume <a href="images/Chelsea_Evans_Resume2.pdf" target="_blank" title="Resume">here.</a>
                </p>
            </div>
        </div>
        <div class="container col-md-offset-7">
            <span id="about-circle-two" class="hidden-xs">
            </span>
        </div>
    </div>
    <!-- FOOTER -->
    <div id="footer">
        <div id="contact">
            <ul>
                <li>
                    </a>
                    <a href="http://www.behance.net/chelseaevans" target="_blank" title="Behance">
                        <i class="fa fa-behance fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/chel__sees" target="_blank" title="Instagram">
                        <i class="fa fa-instagram fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/chel_nova" target="_blank" title="Twitter">
                        <i class="fa fa-twitter fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/chelseamevans/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.google.com/+ChelseaEvans13" target="_blank" title="Google+">
                        <i class="fa fa-google-plus fa-3x"></i> 
                    </a>
                </li>
                <li>
                    <a href="mailto:chelseamarieevans@gmail.com" title="Gmail">
                        <i class="fa fa-envelope-square fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
