<div class="project">
    <div class="bg-block bg-block-gray">
        <div class="container center">
            <h1>TIME TO GO</h1>
            <h4 id="project-tagline">Case study: A mobile application that helps users arrive on time to their destination on time.</h4>
            <div id="project-links">
                <ul>
                    <li>
                        </a>
                        <a href="#overview">OVERVIEW</a>
                    </li>
                    <li>
                        </a>
                        <a href="#process">PROCESS</a>
                    </li>
                    <li>
                        </a>
                        <a href="#lessons-learned">LESSONS LEARNED</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-block">
        <div class="container">
            <img class="center-block img-responsive" src="/images/timetogo_iphone.png" />
        </div>
        <div class="container project-header" id="overview">
            <h2 class="col-md-12">OVERVIEW</h2>
        </div>
        <div class="project-border">
        </div>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                    <h3>The Problem</h3>
                    <p>Interview another class member, identify a problem particular to them and solve it via an application.</p>
                    <p>Hitomi wants to remove the stress and time of mapping and calculating routes in order to be on time to places. She spent the last 2 years living in Tokyo, Japan and had recently moved back to Boston. In Tokyo, there are excellent mobile applications that provide information about bus and train times and everything arrives within seconds that they say they will. The Boston MBTA system provides inaccurate and inadequate information about train and bus times and requires significant overhead on her part in order to obtain correct information.</p>

                    <h3>Time Frame</h3>
                    <p>1 week, individual project.</p>

                    <h3>Scope</h3>
                    <p>User experience, user interface, competitor analysis, user interviews, user flow, testing, iteration.</p>

                    <h3>The Solution</h3>
                    <p>A mobile application that tells the user when to leave their current location in order to make it to their destination on time. The main intent is to reduce the overhead time of other mapping applications and provide optionally-repeating routes that minimal input by the user. "Go times" may change daily based on traffic conditions and public transportation schedules/times.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="center">
                <a class="font-spacing-md btn btn-primary btn-lg" href="http://invis.io/R81OVYHSE" target="_blank">VIEW PROTOTYPE</a>
            </p>
        </div>
        <div class="bg-block">
            <div class="container project-header" id="process">
                <h2 class="col-md-12">PROCESS</h2>
            </div>
            <div class="project-border">
            </div>
            <div class="container">
                <div class="col-md-2 col-s-1 col-xs-1">
                    <h3 class="process-number">01</h3>
                </div>
                <div class="col-md-10 col-s-1 col-xs-1">
                    <h3 class="process-title">Research &amp; Analysis</h3>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h4>Competitor Analysis</h4>
                        <p>The first application I researched was the current MBTA app. Hitomi mentioned that she had it, but doesn't use it due to lack of real-time and accurate data.</p>
                        <p>When Hitomi explained to me her issue, I immediately thought of Google Maps. I've used it on different devices and found it to be very accurate for trip times and traffic. Hitomi explained that her issue with using Google Maps is that she is still doing a lot of manual work every single day, so I wanted to find a way to remove this overhead.</p>
                        <p>Lastly, I took a quick look at Citymapper, an app that I had no previous knowledge of. I found it to have some similiar goals as the application that I was developing, but the added functionality was causing too much overhead for my target user and lacked the streamlined flow.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div>
                    <img class="caption img-responsive col-md-2 col-md-offset-2 col-sm-4" src="/images/googlemaps.png" />
                </div>
                <div>
                    <img class="caption img-responsive col-md-2 col-md-offset-1 col-sm-4" src="/images/MBTA.png" />
                </div>
                <div>
                    <img class="caption img-responsive col-md-2 col-md-offset-1 col-sm-4" src="/images/citymapper.png" />
                </div>
            </div>
            <div class="container">
                <div class="col-md-2 col-s-1 col-xs-1">
                    <h3 class="process-number">02</h3>
                </div>
                <div class="col-md-10 col-s-1 col-xs-1">
                    <h3 class="process-title">User Flow</h3>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <p>Initially, I found myself getting stuck on details too early, losing site of the real use of the application. I was fixed on times such as what time she wakes up, how long does it take for her to get ready, etc. I was also stuck on how she moved about the different locations from start to finish of her trip. Taking a step back, I developed the user flow and how she would move through the application. This provided perspective and allowed me to focus my thinking.</p>
                        <p>Iteration 1 contained many steps and considerations for the user. The final iteration was more simplified for the user, auto-saving routes and asking for all necessary information upfront.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <img class="caption img-responsive center-block" src="images/project1userflow.png" />
            </div>
            <div class="container">
                <div class="col-md-2 col-s-1 col-xs-1">
                    <h3 class="process-number">03</h3>
                </div>
                <div class="col-md-10 col-s-1 col-xs-1">
                    <h3 class="process-title">Sketching</h3>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <p>I quickly designed and sketched the user interface based on the user interview and requirements.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>Here are iterations 1 through 3; you can see that the number of screens decreased as I combined the input screens into one.</p>
                </div>
                <img class="caption img-responsive col-md-8" src="images/iteration1to3.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>Here are iterations 1 through 3; you can see that the number of screens decreased as I combined the input screens into one.</p>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="container">
                <div class="col-md-2 col-s-1 col-xs-1">
                    <h3 class="process-number">04</h3>
                </div>
                <div class="col-md-10 col-s-1 col-xs-1">
                    <h3 class="process-title">Testing</h3>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <p>Following multiple rounds of testing, I received the following feedback from the user: She doesn’t want to have to name the routes herself (they should auto name), wants to be able to save routes, wants to be able to reuse routes, some of the labels are vague and/or confusing, she wants to be able to access information about a route that she has used (i.e. average travel time, be able to see the map, etc.), wants the ability to ‘navigate’ if it’s a route she doesn’t know as well.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-2 col-s-1 col-xs-1">
                    <h3 class="process-number">05</h3>
                </div>
                <div class="col-md-10 col-s-1 col-xs-1">
                    <h3 class="process-title">Prototypes &amp; Iterations</h3>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <p>Based on user feedback I reiterated several times. This is where I really fleshed out the functionality and details:</p>
                        <ul>
                            <li>Auto-naming convention for routes</li>
                            <li>Route is auto-saved once inputs have been entered</li>
                            <li>A user can reuse a route and is brought back to the edit screen in case they want to modify something about the route.</li>
                            <li>The alert notification is defaulted to 5 minutes; what does this look like?</li>
                            <li>The REPEAT and USED ROUTES screens will display certain information relevant to the user.</li>
                            <li>Careful consideration of word use, placement of items, buttons, etc.</li>
                            <li>What’s clickable? How do I let the user know?</li>
                            <li>Final check: Am I meeting all of the user’s requirements?</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>Some screens from the paper prototype.</p>
                </div>
                <img class="caption img-responsive col-md-8" src="images/time_paperprototype.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>Some screens from the paper prototype.</p>
                </div>
            </div>
            <div class="container project-header" id="lessons-learned">
                <h2 class="col-md-12">LESSONS LEARNED</h2>
            </div>
            <div class="project-border">
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <p>Don’t get hung up on specifics too early and keep in mind what the app is actually intended to do; what are the most important user requirements?</p>
                        <p>Reduce overhead for the user.</p>
                        <p>Reduce the number of screens where the user needs to enter information for faster loading.</p>
                        <p>Carefully consider language used to concisely convey the right message and instructions to the user.</p>
                        <p>Keep an open mind about various uses and don’t make narrow assumptions (I am not the user!!): I was stuck on one use-case of traveling from home to work, assuming that Hitomi already knew where to go and I did not consider she would need a map in order to navigate her way.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
