
<!doctype html>
<html class="no-js" lang="">

<head>
    <title>Chelsea Evans</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Chelsea Evans">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//use.typekit.net/pgf8rtl.js"></script>
    <script>
    try {
        Typekit.load();
    } catch (e) {}
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/vendor/font-awesome/css/font-awesome.css">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-fixed-top" id="header" role="navigation">
        <div class="container-fluid">
            <div class="pull-left" id="logo">
                <a href="/">
                    <img src="/images/chelsealogo.png">
                </a>
            </div>
            <div id="links">
                <ul>
                    <li>
                        </a>
                        <a href="/#work">WORK</a>
                    </li>
                    <li>
                        </a>
                        <a href="/#about">ABOUT</a>
                    </li>
                    <li>
                        <a href="http://chelseaevansux.tumblr.com/" target="_blank" title="Tumblr">BLOG</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- PROJECT -->
    <div class="project">
        <div class="bg-block bg-block-gray">
            <div class="container container-last">
                <h1>RUNKEEPER</h1>
<!--                                 <h4 id="project-tagline">Create a personalized health profile tool within the existing site.</h4> -->
                <div id="project-links">
                    <ul>
                        <li>
                            </a>
                            <a href="#overview">OVERVIEW</a>
                        </li>
                        <li>
                            </a>
                            <a href="#process">PROCESS</a>
                        </li>
                        <li>
                            </a>
                            <a href="#lessons-learned">LESSONS LEARNED</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="container">
                <img class="center-block img-responsive" src="/images/timetogo_iphone.png" />
            </div>
            <div class="container project-header">
                <div class="project-header-border col-md-10 col-md-offset-1">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="project-header-circle" id="overview">
                        </span>
                        <h2 class="col-md-12">OVERVIEW</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>THE PROBLEM</h3>
                        <p>Business Overview: Track your pace, measure workout distance, chart weight loss, crush training goals and more with LifeHacker’s 2012 Best Running App! RunKeeper is the simplest way to improve fitness, whether you’re just deciding to get off the couch for a 5k, biking every day, or deep into marathon training.</p>
                        <p>Lots of RunKeeper users who have an exercise routine report weather playing a large role in their fitness behavior. One way weather influences them is in scheduling their outdoor exercise (and the rest of their life) around favorable weather conditions. Focus on solving the problem of "when should I workout" based on the weather.

                            <h3>TIME FRAME</h3>
                            <p>2.5 weeks, group project with Kara and Rena.</p>
                            <div class="container">
                                <img class="center-block img-responsive" src="/images/RK_team.png" />
                            </div>

                            <!-- <h3>SKILLS</h3> -->
                            <p>User experience, user interface, competitor analysis, user interviews, user flow, testing, iteration.</p>

                            <h3>THE SOLUTION</h3>
                            <!--                         <p></p> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="center">
                    <!--  <a class="font-spacing-md btn btn-primary btn-lg" href="http://invis.io/GN1JGHH6E" target="_blank">VIEW PROTOTYPE</a> -->
                </p>
            </div>
            <div class="bg-block">
                <div class="container project-header">
                    <div class="project-header-border col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1">
                            <span class="project-header-circle" id="process">
                            </span>
                            <h2 class="col-md-12">PROCESS</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container container-last">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>CLIENT INTERVIEW</h3>
                        <div class="container">
                            <img class="center-block img-responsive" src="/images/RK_team.png" />
                        </div>
                        <h3>RESEARCH &amp; ANALYSIS</h3>
                        <h4>Brand Analysis</h4>
                        <p>The first step we took was to acquaint ourselves with the current application.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div>
                    <img class="caption img-responsive col-md-2 col-md-offset-2 col-sm-4" src="/images/googlemaps.png" />
                </div>
                <div>
                    <img class="caption img-responsive col-md-2 col-md-offset-1 col-sm-4" src="/images/MBTA.png" />
                </div>
                <div>
                    <img class="caption img-responsive col-md-2 col-md-offset-1 col-sm-4" src="/images/citymapper.png" />
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>USER FLOW</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <img class="caption img-responsive center-block" src="images/project1userflow.png" />
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>SKETCHING</h3>
                        <p>I quickly designed and sketched the user interface based on the user interview and requirements.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>Here are iterations 1 through 3; you can see that the number of screens decreased as I combined the input screens into one.</p>
                </div>
                <img class="caption img-responsive col-md-8" src="images/iteration1to3.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>Here are iterations 1 through 3; you can see that the number of screens decreased as I combined the input screens into one.</p>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>TESTING</h3>
                        <p>Following multiple rounds of testing, I received the following feedback from the user: She doesn’t want to have to name the routes herself (they should auto name), wants to be able to save routes, wants to be able to reuse routes, some of the labels are vague and/or confusing, she wants to be able to access information about a route that she has used (i.e. average travel time, be able to see the map, etc.), wants the ability to ‘navigate’ if it’s a route she doesn’t know as well.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>PROTOTYPES &amp; ITERATIONS</h3>
                        <p>Based on user feedback I reiterated several times. This is where I really fleshed out the functionality and details:</p>
                        <ul>
                            <li>Auto-naming convention for routes</li>
                            <li>Route is auto-saved once inputs have been entered</li>
                            <li>A user can reuse a route and is brought back to the edit screen in case they want to modify something about the route.</li>
                            <li>The alert notification is defaulted to 5 minutes; what does this look like?</li>
                            <li>The REPEAT and USED ROUTES screens will display certain information relevant to the user.</li>
                            <li>Careful consideration of word use, placement of items, buttons, etc.</li>
                            <li>What’s clickable? How do I let the user know?</li>
                            <li>Final check: Am I meeting all of the user’s requirements?</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>Some screens from the paper prototype.</p>
                </div>
                <img class="caption img-responsive col-md-8" src="images/time_paperprototype.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>Some screens from the paper prototype.</p>
                </div>
            </div>
            <div class="container project-header">
                <div class="project-header-border col-md-10 col-md-offset-1">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="lessons-learned-circle" id="lessons-learned">
                        </span>
                        <h2 class="col-md-12">LESSONS LEARNED</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <ul>
                            <li>Don’t get hung up on specifics too early and keep in mind what the app is actually intended to do; what are the most important user requirements?</li>
                            <li>Reduce overhead for the user.</li>
                            <li>Reduce the number of screens where the user needs to enter information for faster loading.</li>
                            <li>Carefully consider language used to concisely convey the right message and instructions to the user.</li>
                            <li>Keep an open mind about various uses and don’t make narrow assumptions (I am not the user!!): I was stuck on one use-case of traveling from home to work, assuming that Hitomi already knew where to go and I did not consider she would need a map in order to navigate her way.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div id="footer">
        <div id="contact">
            <ul>
                <li>
                    </a>
                    <a href="http://www.behance.net/chelseaevans" target="_blank" title="Behance">
                        <i class="fa fa-behance fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/chel__sees" target="_blank" title="Instagram">
                        <i class="fa fa-instagram fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/chel_nova" target="_blank" title="Twitter">
                        <i class="fa fa-twitter fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/chelseamevans/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.google.com/+ChelseaEvans13" target="_blank" title="Google+">
                        <i class="fa fa-google-plus fa-3x"></i> 
                    </a>
                </li>
                <li>
                    <a href="mailto:chelseamarieevans@gmail.com" title="Gmail">
                        <i class="fa fa-envelope-square fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
