<!doctype html>
<html class="no-js" lang="">

<head>
    <title>Chelsea Evans</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Chelsea Evans">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//use.typekit.net/pgf8rtl.js"></script>
    <script>
    try {
        Typekit.load();
    } catch (e) {}
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/vendor/font-awesome/css/font-awesome.css">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-fixed-top" id="header" role="navigation">
        <div class="container-fluid">
            <div class="pull-left" id="logo">
                <a href="/">
                    <img src="/images/chelsealogo.png">
                </a>
            </div>
            <div id="links">
                <ul>
                    <li>
                        </a>
                        <a href="/#work">WORK</a>
                    </li>
                    <li>
                        </a>
                        <a href="/#about">ABOUT</a>
                    </li>
                    <li>
                        <a href="http://chelseaevansux.tumblr.com/" target="_blank" title="Tumblr">BLOG</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- PROJECT -->
    <div class="project">
        <div class="bg-block bg-block-gray">
            <div class="container container-last">
                <h1>CASE STUDY: WEBMD</h1>
                <h4 id="project-tagline">Adding a personalized health profile tool within the existing site.</h4>
                <div id="project-links">
                    <ul>
                        <li>
                            </a>
                            <a href="#overview">OVERVIEW</a>
                        </li>
                        <li>
                            </a>
                            <a href="#process">PROCESS</a>
                        </li>
                        <li>
                            </a>
                            <a href="#lessons-learned">LESSONS LEARNED</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="container">
                <img class="center-block img-responsive" src="images/imac_webmd.png" />
            </div>
            <div class="container project-header">
                <div class="project-header-border col-md-10 col-md-offset-1">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="project-header-circle" id="overview">
                        </span>
                        <h2 class="col-md-12">OVERVIEW</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>THE PROBLEM</h3>
                        <p>WebMD wants to increase their user acquisition and retention by creating a health profile tool that collects users&rsquo; health information and provides personalized suggestions.</p>

                        <h3>TIME FRAME</h3>
                        <p>2 weeks, group project with 2 other colleagues</p>

                        <h3>SKILLS</h3>
                        <p>User experience design, user interface, information architecture, competitor analysis, analytics, surveys, user interviews, persona creation, user flow, testing, prototypes, multiple iterations, site map.</p>

                        <h3>THE SOLUTION</h3>
                        <p>A personalized home page fed both organically by a user&rsquo;s browsing history and manually by added interests and communities.</p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="center">
                    <a class="font-spacing-md btn btn-primary btn-lg" href="http://invis.io/391GB0W48" target="_blank">VIEW PROTOTYPE</a>
                </p>
            </div>
            <div class="container project-header">
                <div class="project-header-border col-md-10 col-md-offset-1">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="project-header-circle" id="process">
                        </span>
                        <h2 class="col-md-12">PROCESS</h2>
                    </div>
                </div>
            </div>
            <div class="container container-last">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>RESEARCH &amp; ANALYSIS</h3>
                        <h4>Competitor Analysis</h4>
                        <p>We looked at WebMD compared to some of its top competitors, specifically MayoClinic and Healthline. Mostly we were looking to hone in on WebMD&rsquo;s strengths to leverage them against the competition and channel a focus. WebMD&rsquo;s strengths are its interactive communities with experts, and tons of articles. WebMD&rsquo;s diet and fitness tools are lacking in the mobility and features compared to the offerings (i.e. Nike+, FitBit, iWatch, etc.) in this now highly saturated market.</p>

                        <h4>Analytics</h4>
                        <p>We did some research on WebMD&rsquo;s current use. Information from Alexa analytics revealed that the user base is mostly female and key searches include diet and weight loss. So maybe these are our target users? We also looked at page views per visitor, which are around 2 and the time spent on the site is only 2 min and 45 seconds; visitors don&rsquo;t stay very long or visit much content. We issued a survey to find out more.</p>

                        <h3>SURVEY</h3>
                        <p>We asked users how they get health information? Results of the survey confirmed our assumption that most people use the internet for this; 92% of respondents reported that this was the case.</p>
                        <p>We then asked participants what prompts them to look up health information. Some people said that they look up their symptoms when they are not feeling well. Some said that a recurring illness or concern prompted them. A majority said that general health and curiosity was on their mind. And lastly, there were the students. This led to the creation of our 3 personas and one persona that we would not design for: the symptom checker.</p>

                        <h3>USER INTERVIEWS</h3>
                        <p>Several users that participated in the survey were interviewed and this information was used to flesh out the personas further.</p>

                        <h3>PERSONAS</h3>
                        <p>3 personas were created. We used these personas throughout our process to determine what kind of information each would want to see. WebMD offers tons of different tools, but which ones would our personas actually use? How do we bring these to the forefront to provide added value to the user? This led to the creation of the feed and the placement of items according to user needs.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-block bg-block-gray">
            <div class="container container-last">
                <div class="col-lg-2 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4">
                    <img class="img-responsive center-block" src="images/anna2.png" />
                    <h5 class="center">ANNA</h5>
                    <h4 class="center">Health-aware</h4>
                </div>
                <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-4">
                    <img class="img-responsive center-block" src="images/michael.png" />
                    <h5 class="center">MICHAEL</h5>
                    <h4 class="center">Med Student</h4>
                </div>
                <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-4">
                    <img class="img-responsive center-block" src="images/judy.png" />
                    <h5 class="center">JUDY</h5>
                    <h4 class="center">Recurring illness</h4>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>BRAND INSPIRATION</h3>
                        <p>When we came up the idea for the feed, we all thought of Facebook. They are able to provide users with quick access to other areas of the site that are personalized to them. We did not pursue the social aspect, as people using WebMD would not likely want to share their health information with others. We looked to Pinterest for the &lsquo;card&rsquo; idea. We thought this would help provide visual consistency for users and easy access to articles via the home feed.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>Facebook&rsquo;s convenient side navigation.</p>
                </div>
                <img class="img-responsive col-md-4" src="images/facebook.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>Facebook&rsquo;s convenient side navigation.</p>
                </div>
                <img class="img-responsive col-md-4" src="images/pinterest-wireframe.png" />
                <div class="caption col-md-2">
                    <p>Pinterest&rsquo;s card-style post system.</p>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>USER FLOW</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>User flows (new and old) for the persona of Judy.</p>
                    See the simplification of steps for Judy to access information in the new personalized home page.
                </div>
                <img class="img-responsive col-md-8" src="images/userflow_judy.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>User flows (new and old) for the persona of Judy.</p>
                    See the simplification of steps for Judy to access information in the new personalized home page.
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>SKETCHING</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-block">
        <div class="container">
            <div class="caption col-md-2 hidden-sm hidden-xs">
                <p>Team brainstorming and sketching.</p>
            </div>
            <img class="img-responsive col-md-10" src="images/webmd_feed_team.png" />
            <div class="caption col-md-2 visible-sm visible-xs">
                <p>Team brainstorming and sketching.</p>
            </div>
        </div>
        </div>
                <div class="bg-block">
        <div class="container">
            <div class="caption col-md-2 hidden-sm hidden-xs">
                <p>The team working to narrow our focus.</p>
            </div>
            <img class="img-responsive col-md-8" src="images/webmd_projectfocus.png" />
            <div class="caption col-md-2 visible-sm visible-xs">
                <p>The team working to narrow our focus.</p>
            </div>
        </div>
        </div>
                <div class="bg-block">
        <div class="container">
            <div class="caption col-md-2 hidden-sm hidden-xs">
                <p>Some of my sketches of the feed and settings in various stages.</p>
            </div>
            <img class="img-responsive col-md-3" src="images/webmd_feed1.png" />
            <img class="img-responsive col-md-3" src="images/webmd_feed2.png" />
            <img class="img-responsive col-md-3" src="images/webmd_settings1.png" />
            <div class="caption col-md-2 visible-sm visible-xs">
                <p>Some of my sketches of the feed and settings in various stages.</p>
            </div>
        </div>
        </div>

        <div class="bg-block">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>PROTOTYPES &amp; ITERATIONS</h3>
                        <p>Our movable paper prototype was made, reflecting group decisions made during brainstorming sessions. We included both articles and community posts in the feed to bring out relevant user content to the forefront. We ended on collapsible but persistent navigation; it&rsquo;s available when needed and can also be hidden.
                            <p>We spent much time on the sign up process. Should we collect information upfront about their interests at sign up? We eventually decided that users like the med student and health-aware would not want to waste time filling in this information at sign up and would rather have their feed populated based on organic movement throughout the site combined with interest addition as time passed. However, what would prompt them to sign up in the first place? We thought of many different options including a pop-up (too intrusive), banner ad (likely not effective, would blend in with the existing ads), campaign or initiatives (but what would be used as an incentive?). We decided on a link within the articles, about one-third of the way down the page, similar to some news sites.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>Home page: Paper to wireframe to mockup.</p>
                </div>
                <img class="img-responsive col-md-8" src="images/prototypes.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>Home page: Paper to wireframe to mockup.</p>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>TESTING</h3>
                        <p>We tested in each prototype stage. Changes were made based on user testing and feedback and user interviews.</p>
                        <p>An example of issue found during testing was that we tasked testers to remove a post they didn&rsquo;t like from their feed. We had the removal options buried in the top right account section. Users wanted to click within the post itself somewhere and were distracted by other options. In the next iteration, we added a drop down menu to the post where users could disable the selected content.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>Example of testing a task to remove unwanted content from the feed.</p>
                </div>
                <img class="img-responsive col-md-8" src="images/testing_task.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>Example of testing a task to remove unwanted content from the feed.</p>
                </div>
            </div>
            <!--             <div class="container">"
                <img class="center-block img-responsive" src="images/usertestingbanner.png" />
            </div> -->
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>SITE MAP</h3>
                        <p>A section of the WebMD&rsquo;s entire site map reflecting our changes; this was the relevant portion where the personalization options were added.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <img class="center-block img-responsive" src="images/sitemap_webmd.png" />
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>FUTURE ITERATIONS</h3>
                        <ul>
                            <li>More testing and iterating, specifically for Judy&rsquo;s demographic.</li>
                            <li>Making the site responsive for mobile and tablet. Our current high users, like Judy, do not use the mobile version of the site, so it was not considered for Release 1.</li>
                            <li>WebMD has several different mobile apps, so we would definitely dive deeper into those and perform research and analysis to increase the value to the users.</li>
                            <li>We would gather data around the usage of all of the tools that WebMD offers.</li>
                            <li>Leveraging the highly used tools like the symptom checker to attract, and importantly, RETAIN, new users to get them to then move throughout the site and visit other content.</li>
                            <li>Retire low-use tools to concentrate on WebMD&rsquo;s strengths and refine the experience for the users.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 hidden-sm hidden-xs">
                    <p>Mobile considerations for Release 2.</p>
                </div>
                <img class="img-responsive col-md-4" src="images/webmd_mobile.png" />
                <div class="caption col-md-2 visible-sm visible-xs">
                    <p>Mobile considerations for Release 2.</p>
                </div>
            </div>
            <div class="container project-header">
                <div class="project-header-border col-md-10 col-md-offset-1">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="lessons-learned-circle" id="lessons-learned">
                        </span>
                        <h2 class="col-md-12">LESSONS LEARNED</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <ul>
                            <li>Working on a preexisting site is difficult, especially one as complex and convoluted as WebMD.</li>
                            <li>Information architecture redesign and consideration is paramount in this case.</li>
                            <li>Consider persona motivations and user flows early on; you may be able to combine multiple personas into one if they have shared motivations and goals.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div id="footer">
        <div id="contact">
            <ul>
                <li>
                    </a>
                    <a href="http://www.behance.net/chelseaevans" target="_blank" title="Behance">
                        <i class="fa fa-behance fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/chel__sees" target="_blank" title="Instagram">
                        <i class="fa fa-instagram fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/chel_nova" target="_blank" title="Twitter">
                        <i class="fa fa-twitter fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/chelseamevans/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.google.com/+ChelseaEvans13" target="_blank" title="Google+">
                        <i class="fa fa-google-plus fa-3x"></i> 
                    </a>
                </li>
                <li>
                    <a href="mailto:chelseamarieevans@gmail.com" title="Gmail">
                        <i class="fa fa-envelope-square fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
