<!doctype html>
<html class="no-js" lang="">

<head>
    <title>Chelsea Evans</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Chelsea Evans">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//use.typekit.net/pgf8rtl.js"></script>
    <script>
    try {
        Typekit.load();
    } catch (e) {}
    </script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/vendor/font-awesome/css/font-awesome.css">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="/js/app.js"></script>
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-fixed-top" id="header" role="navigation">
        <div class="container-fluid">
            <div class="pull-left" id="logo">
                <a href="/">
                    <img src="/images/chelsealogo.png">
                </a>
            </div>
            <div id="links">
                <ul>
                    <li>
                        </a>
                        <a href="/#work">WORK</a>
                    </li>
                    <li>
                        </a>
                        <a href="/#about">ABOUT</a>
                    </li>
                    <li>
                        <a href="http://chelseaevansux.tumblr.com/" target="_blank" title="Tumblr">BLOG</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- PROJECT -->
    <div class="project">
        <div class="bg-block bg-block-gray">
            <div class="container container-last">
                <h1>RUNKEEPER</h1>
                <h4 id="project-tagline">A new weather feature that adds value for users without getting in the way or requiring too much input.</h4>
                <div id="project-links">
                    <ul>
                        <li>
                            </a>
                            <a href="#overview">OVERVIEW</a>
                        </li>
                        <li>
                            </a>
                            <a href="#process">PROCESS</a>
                        </li>
                        <li>
                            </a>
                            <a href="#lessons-learned">LESSONS LEARNED</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="container">
                <img class="center-block img-responsive" src="/images/RK_fourscreens.png" />
            </div>
            <div class="container project-header">
                <div class="project-header-border col-md-10 col-md-offset-1">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="project-header-circle" id="overview">
                        </span>
                        <h2 class="col-md-12">OVERVIEW</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>THE PROBLEM</h3>
                        <p>Business Overview: Track your pace, measure workout distance, chart weight loss, crush training goals and more with LifeHacker’s 2012 Best Running App! RunKeeper is the simplest way to improve fitness, whether you’re just deciding to get off the couch for a 5k, biking every day, or deep into marathon training.</p>
                        <p>Lots of RunKeeper users who have an exercise routine report weather playing a large role in their fitness behavior. One way weather influences them is in scheduling their outdoor exercise (and the rest of their life) around favorable weather conditions. Focus on solving the problem of "when should I workout" based on the weather.</p>
                        <p>Specifically, target the design towards someone who is looking to maintain their working out, someone who is not a planner, and typically uses the app in a start-to-stop manner (just to track a run).</p>
                        <h3>TIME FRAME</h3>
                        <p>2.5 weeks, group project with 2 other colleagues.</p>
                        <h3>SKILLS</h3>
                        <p>Client interview, brand analysis, competitor analysis, survey, data analysis, persona, prototype, mockups, client presentation.</p>
                        <h3>THE SOLUTION</h3>
                        <p>Weather preference settings incorporated into the existing app that provides users with weather notifications and optional forecast data; a new feature that’s great for users, requires little input, and also is differentiated from the competition.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="center">
                    <!--                      <a class="font-spacing-md btn btn-primary btn-lg" href="http://invis.io/GN1JGHH6E" target="_blank">VIEW PROTOTYPE</a> -->
                </p>
            </div>
            <div class="bg-block">
                <div class="container project-header">
                    <div class="project-header-border col-md-10 col-md-offset-1">
                        <div class="col-md-10 col-md-offset-1">
                            <span class="project-header-circle" id="process">
                            </span>
                            <h2 class="col-md-12">PROCESS</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>CLIENT INTERVIEW</h3>
                        <p>We spoke with Drew Condon, UX Manager at RunKeeper. We discussed the brief, the design process, and defined a focus. Drew stated they wanted something light, but crisp; establish a narrow, but useful problem to solve using weather, something that’s great for users and also different enough from what competitors are doing. He challenged us to find a solution in which users would not have to do a lot of work on their end: infer over input.</p>
                        <div class="container">
                            <img class="img-responsive" src="/images/clientinterview.png" />
                        </div>
                        <h3>RESEARCH &amp; ANALYSIS</h3>
                        <h4>Brand Analysis</h4>
                        <p>We wanted to first acquaint ourselves with the brand, the current app functionality, the look and feel of the app, and recent company news to get an overall picture of what is RunKeeper.</p>
                        <p>We were given RunKeeper’s personas, which allowed us to see what their user base looked like broken down and who they were designing for; these were considerations we kept in mind during our design process.</p>
                        <h4>Market Analysis</h4>
                        <p>We reviewed the National Runner’s survey which provided us with the demographics of ‘runners’ in general, and what the overall market looks like</p>
                        <h4>Competitor Analysis</h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 col-sm-2 hidden-xs">
                    <p>Nike+ has weather data that links to past performance, so they can see in what weather they run better or worse, but how is this adding real value to users?</p>
                </div>
                <div>
                    <img class="img-responsive col-md-4 col-sm-4" src="/images/nikeapp1.png" />
                </div>
                <div class="caption col-md-2 visible-xs">
                    <p>Nike+ has weather data that links to past performance, so they can see in what weather they run better or worse, but how is this adding real value to users?</p>
                </div>
                <div>
                    <img class="img-responsive col-md-4 col-sm-4" src="/images/outsiderapp3.png" />
                </div>
                <div class="caption col-md-2 col-sm-2">
                    <p>Outsider (by the Weather Channel): Requires a lot of user input and overhead. A bit difficult to interpret (What do the numbers mean to users?)</p>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 col-sm-2 hidden-xs">
                    <p>Dark Sky: Clean and easy to understand, visually breaks down the hourly forecast, also has option to view 7-day forecast.</p>
                </div>
                <div>
                    <img class="img-responsive col-md-4 col-sm-4" src="/images/darksky1.png" />
                </div>
                <div class="caption col-md-2 visible-xs">
                    <p>Dark Sky: Clean and easy to understand, visually breaks down the hourly forecast, also has option to view 7-day forecast.</p>
                </div>
                <div>
                    <img class="img-responsive col-md-4 col-sm-4" src="/images/foresee1.jpg" />
                </div>
                <div class="caption col-md-2 col-sm-2">
                    <p>Foresee: Little input, personal activity forecast, can set your weather preferences.</p>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h4>Survey</h4>
                        <p>We got a lot of great data and user feedback in our survey, which we then analyzed and interpreted to inform some of our design decisions.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 col-sm-2 hidden-xs">
                    <p>We asked participants if they view any weather data before a run and about 60% of respondants said yes.</p>
                </div>
                <div>
                    <img class="img-responsive col-md-4 col-sm-4" src="/images/RK_checkweather.png" />
                </div>
                <div class="caption col-md-2 visible-xs">
                    <p>We asked participants if they view any weather data before a run and about 60% of respondants said yes.</p>
                </div>
                <div>
                    <img class="img-responsive col-md-4 col-sm-4" src="/images/RK_usephone.png" />
                </div>
                <div class="caption col-md-2 col-sm-2">
                    <p>Out of the 60% that check weather data, 80% use their phone to do so.</p>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>PERSONA</h3>
                        <p>RunKeeper came into the project with personas already developed. We were challenged to design for Marcus The Maintainer. Marcus is at risk of missing workouts due to his busy schedule. Weather is yet another obstacle. We were able to filter our survey results by certain survey questions to get answers from participants in this persona category and grab direct quotes that we added to the RunKeeper persona.</p>
                        <p>Marcus was also on our mind during the entire design process. We kept revisiting him to insure we were designing for the target user.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>BRAINSTORMING &amp; SKETCHING</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 col-sm-2 hidden-xs">
                    <p>Our team process came together as the project progressed. Here we are sketching individually.</p>
                </div>
                <img class="img-responsive col-md-4" src="images/RK_teamsketch.png" />
                <div class="caption col-md-2 visible-xs">
                    <p>Our team process came together as the project progressed. Here we are sketching individually.</p>
                </div>
                <img class="img-responsive col-md-4" src="images/RK_brainstorm.jpg" />
                <div class="caption col-md-2 col-sm-2">
                    <p>We developed a pattern of sketching individually, then coming together at the board.</p>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 col-sm-2 hidden-xs">
                    <p>Brainstorm sessions were interactive and collaborative as we journeyed down the board.</p>
                </div>
                <img class="img-responsive col-md-4" src="images/RK_team1.png" />
                <div class="caption col-md-2 visible-xs">
                    <p>Brainstorm sessions were interactive and collaborative as we journeyed down the board.</p>
                </div>
                <img class="img-responsive col-md-4" src="images/RK_sketch1.png" />
                <div class="caption col-md-2 col-sm-2">
                    <p>Some of my early sketching.</p>
                </div>
            </div>
        </div>
        <div class="bg-block">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>PROTOTYPE</h3>
                        <p>Our first prototype design decisions came from a combination of the research, survey data, and brainstorming and sketching. It featured a weather tab on the home page that the user could then click into to see a 24-hour forecast, then move to a 7-day forecast where they could pick days to run for which they would be notified of via a push notification.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="center">
                    <a class="font-spacing-md btn btn-primary btn-lg" href="https://popapp.in/w/projects/544dbbdb628aa7542436b10f/preview/544e9af09c9de07104d2b066" target="_blank">VIEW PAPER PROTOTYPE</a>
                </p>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>TESTING</h3>
                        <p>We tested a number of specific tasks using the paper prototype. We used this feedback to make some changes before going into our meeting with RunKeeper.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <img class="img-responsive col-md-8 col-md-offset-2" src="images/RK_testing.png" />
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>CLIENT MEETING</h3>
                        <p>Following user testing, we took a trip to RunKeeper HQ. We got some great feedback and were able to get a better idea of their vision for incorporating weather.</p>
                        <ul>
                            <li>Less is more: The new weather tab is taking up a lot of the screen. Think in terms of pixels, we are using about one-third of the screen with our new weather tab which is a lot of space and there are already of a number of things to do on the home page.</li>
                            <li>Once the user is in the app, it’s too late, meaning the weather is already happening. Users mostly come to the app when they are about to go running, so a weather forecast at that point is too late.</li>
                            <li>Don’t make users input too much. Having them continually make choices each week about their running schedule is too much work; focus on progressive engagement instead of persistent engagement</li>
                            <li>Users disengage by 10% after each step if they need to enter data, so having them do so on a continual basis would likely lead to a significant drop-off fairly quickly.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>SURVEY PART 2</h3>
                        <p>Following the client meeting, we went back to the drawing board and started brainstorming again. With all of the client considerations in mind, and looking at other data from our survey results, we started to form some new designs.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 col-sm-2 hidden-xs">
                    <p>We asked runners if they would be willing to switch up their workout routine if they were notified about upcoming weather. A combined 82% said maybe or yes... so those numbers are promising.</p>
                </div>
                <div>
                    <img class="img-responsive col-md-4 col-sm-4" src="/images/RK_schedulechange.png" />
                </div>
                <div class="caption col-md-2 visible-xs">
                    <p>We asked runners if they would be willing to switch up their workout routine if they were notified about upcoming weather. A combined 82% said maybe or yes... so those numbers are promising.</p>
                </div>
                <div>
                    <img class="img-responsive col-md-4 col-sm-4" src="/images/RK_notifications.png" />
                </div>
                <div class="caption col-md-2 col-sm-2">
                    <p>We asked how often users would want to be notified. Most people said once per day, the second highest was none. So we concluded that notifications will be once per day, otherwise users can opt-out completely.</p>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <p>We asked what types of weather would prevent runners from running outside. This let us know what types of weather people cared about most, so we ordered our preference list in this way. Even if users dropped off after the first couple of answers, they would still have preferences set for the most important factors.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div>
                    <img class="img-responsive col-md-10 col-md-offset-1" src="/images/RK_conditions.png" />
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>ITERATIONS</h3>
                        <p>We incorporated the new weather settings into the existing settings screen within the app. This location was unobtrusive, ‘in the background’ and users can easily turn on or off these notifications.</p>
                        <p>In the new weather preferences screen, the user can slide the green buttons to choose their ideal weather conditions. The hierarchy is based on the user research and survey results. They can set their notification time and they are done. This requires limited input on their part (one time only), and is also optional.</p>
                        <p>The user will then receive one push notification per day describing when the best time to run is for the following day based on the weather forecast. This allows runners to plan the night before.</p>
                        <p>If they want to see more, they can swipe in the push notification to see more and move to a weather forecast screen for the next three days. They will first land on the following day and can look at the hourly forecast and see what metrics are meeting their criteria.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div>
                    <img class="img-responsive" src="/images/RK_settings_prefs.png" />
                </div>
            </div>
            <div class="container">
                <div>
                    <img class="img-responsive" src="/images/RK_notification_forecast.png" />
                </div>
            </div>







            <!--             <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>USER FLOW</h3>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <img class="img-responsive center-block" src="images/.png" />
            </div> -->


            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>CLIENT PRESENTATION</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2 col-sm-2 hidden-xs">
                    <p>It was great to be able to work with Kevin Kupillas and Drew Condo, part of the UX team at RunKeeper, and show them our results.</p>
                </div>
                <img class="img-responsive col-md-8" src="images/teamrunkeeperbw.png" />
                <div class="caption col-md-2 visible-xs">
                    <p>It was great to be able to work with Kevin Kupillas and Drew Condo, part of the UX team at RunKeeper, and show them our results.</p>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <h3>FUTURE ITERATIONS</h3>
                        <ul>
                            <li>More testing, specifically some targeted testing of the language used in the preferences</li>
                            <li>More user interviews, specifically of people fitting into the persona of Marcus</li>
                            <li>Continued client meetings for more feedback</li>
                            <li>Exploring ‘smart’ notifications, trying to learn the behavior of users like what time of day they run, what days of the week, things like that, to tie in with weather and the best time to run the following day to better fit users' busy schedules.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container project-header">
                <div class="project-header-border col-md-10 col-md-offset-1">
                    <div class="col-md-10 col-md-offset-1">
                        <span class="lessons-learned-circle" id="lessons-learned">
                        </span>
                        <h2 class="col-md-12">LESSONS LEARNED</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <ul>
                            <li>Be flexible going into a client meeting; don’t tie yourself to one design too much because things can and will change. We were prepared for this and even tried to anticipate some of their feedback, so we went in with the right mindset, but definitely something to keep in mind going forward.</li>
                            <li>Use users to solve problems: Have your users responses work for you to solve what they are looking for, interpret the data, talk to people, look at what they are saying. We revisited our survey throughout the design process.</li>
                            <li>Add value, not just features: Is this feature 10x better than the current solution? Is this actually adding value to users and will they want to engage with this new feature? Adding features can be easy, adding value is more difficult.</li>
                            <li>Revisit the brief/problem and persona: Remind yourself what the actual problem is and what you are trying to solve. Tie design decisions back to the persona that is being designed for; get into this person’s mindset to identify their motivations, goals and needs.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div id="footer">
        <div id="contact">
            <ul>
                <li>
                    </a>
                    <a href="http://www.behance.net/chelseaevans" target="_blank" title="Behance">
                        <i class="fa fa-behance fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.instagram.com/chel__sees" target="_blank" title="Instagram">
                        <i class="fa fa-instagram fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/chel_nova" target="_blank" title="Twitter">
                        <i class="fa fa-twitter fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/chelseamevans/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.google.com/+ChelseaEvans13" target="_blank" title="Google+">
                        <i class="fa fa-google-plus fa-3x"></i> 
                    </a>
                </li>
                <li>
                    <a href="mailto:chelseamarieevans@gmail.com" title="Gmail">
                        <i class="fa fa-envelope-square fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
