<div class="project">
    <div class="bg-block bg-block-gray">
        <div class="container">
            <h1>TRUESPIRIT</h1>
            <h4 id="project-tagline">Case study: An e-commerce site for a school uniform company.</h4>
            <div id="project-links">
                <ul>
                    <li>
                        </a>
                        <a href="#overview">OVERVIEW</a>
                    </li>
                    <li>
                        </a>
                        <a href="#process">PROCESS</a>
                    </li>
                    <li>
                        </a>
                        <a href="#lessons-learned">LESSONS LEARNED</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-block">
        <div class="container">
            <img class="center-block img-responsive" src="images/imac_truespirit.png" />
        </div>
        <div class="container project-header" id="overview">
            <h2 class="col-md-12">OVERVIEW</h2>
        </div>
        <div class="project-border">
        </div>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                    <h3>The Problem</h3>
                    <p>TrueSpirit, an online retailer of school uniforms, wants to create an e-commerce website based on their brand brief. I was tasked to design several pages of the website, including the home page and product pages, as well as a detailed check out flow.</p>

                    <h3>Time Frame</h3>
                    <p>2 weeks, individual project.</p>

                    <h3>Scope</h3>
                    <p>User experience, user interface, information architecture, interaction design, competitor analysis, brand inspiration, user interviews, user flow, testing, iteration, card sorting, site map.</p>

                    <h3>The Solution</h3>
                    <p>A clean, modern, easily navigable e-commerce website that provides users with confidence, a funneled and navigable workflow, and goal attainment.</p>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="center">
                <a class="font-spacing-md btn btn-primary btn-lg" href="http://invis.io/JZ1OA61KY" target="_blank">VIEW PROTOTYPE</a>
            </p>
        </div>
        <div class="container project-header">
            <h2 class="col-md-12" id="process">PROCESS</h2>
        </div>
        <div class="project-border">
        </div>

        <div class="container">
            <div class="col-md-2 col-s-1 col-xs-1">
                <h3 class="process-number">01</h3>
            </div>
            <div class="col-md-10 col-s-1 col-xs-1">
                <h3 class="process-title">Research &amp; Analysis</h3>
            </div>
        </div>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                    <h4>Card Sorting</h4>
                    <p>We started with a card sorting exercise as a group and worked in teams to sort products within categories of our choosing. From there on out, the work was done individually.</p>

                    <h4>Brand analysis</h4>
                    <p>TrueSpirit is an online retailer of school uniforms. They describe themselves as fresh, modern, friendly, helpful but not in the way, community-oriented, good service and quality.</p>
                    <p>I worked through questions like: What emotions does this brand want to evoke? What are some brand indicators that provide some site layout/design direction?</p>

                    <h4>User Analysis</h4>
                    <p>We were required to analyze an assigned user persona. My user is John, a single father who wants to buy his daughter a white polo shirt and blue pants for her upcoming school year. He’s comfortable shopping online, frugal, practical, efficient, and sticks with brands.</p>

                    <h4>Aligning the brand with the user</h4>
                    <p>Taking both the brand brief and the user&rsquo;s attributes into mind, I looked to find commonalities that could be incorporated into the site.</p>

                    <h4>Competitor Analysis</h4>
                    <p>Analyzing competitors’ brands for site layout, how they handled checkout, branding, etc. Finding similarities and differences between the user’s commonly used sites.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="caption col-md-2">
                <p>Lands End analysis</p>
            </div>
            <img class="caption img-responsive col-md-8" src="images/landsend.png" />
        </div>
        <div class="bg-block">
            <div class="container">
                <div class="col-md-2 col-s-1 col-xs-1">
                    <h3 class="process-number">02</h3>
                </div>
                <div class="col-md-10 col-s-1 col-xs-1">
                    <h3 class="process-title">Brand Inspiration</h3>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <p>Looking at other brands online that could provide inspiration for TrueSpirit’s site based on their brand description and goals.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="caption col-md-2">
                    <p>Nixon, Suit Supply, Hiut Denim, Salt Surf, Madewell</p>
                </div>
                <img class="caption img-responsive col-md-offset-3" src="images/brandinspiration.png" />
            </div>
        </div>
        <div class="bg-block">
            <div class="container">
                <div class="col-md-2 col-s-1 col-xs-1">
                    <h3 class="process-number">03</h3>
                </div>
                <div class="col-md-10 col-s-1 col-xs-1">
                    <h3 class="process-title">Sketching</h3>
                </div>
            </div>
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12">
                        <p>Staying 'in paper' was helpful in the early stages of the design. It allowed me to move very quickly from one iteration to the next and make changes based on very quick user testing and review.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="caption col-md-2">
                <p>A pile o' sketches.</p>
            </div>
            <img class="img-responsive" src="images/sketches_truespirit.png" />
        </div>
        <div class="container">
            <div class="col-md-2 col-s-1 col-xs-1">
                <h3 class="process-number">04</h3>
            </div>
            <div class="col-md-10 col-s-1 col-xs-1">
                <h3 class="process-title">Testing</h3>
            </div>
        </div>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                    <p>I tested several times with fellow classmates and instructors. Testing was done in all stages: paper, mockup, and clickable prototype.</p>
                    <p>I tested the checkout flow with users. From iteration 1 to 2, changes were made to include a static summary on the right side of the screen, so the user can always view the summary even if they scroll throughout the left side of the page to view all of their items.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="caption col-md-2">
                <p>Changes made from Iteration 1 to 2.</p>
            </div>
            <img class="caption img-responsive col-md-8" src="images/testingcheckout.png" />
        </div>
        <div class="container">
            <div class="col-md-2 col-s-1 col-xs-1">
                <h3 class="process-number">05</h3>
            </div>
            <div class="col-md-10 col-s-1 col-xs-1">
                <h3 class="process-title">Site Map</h3>
            </div>
        </div>
        <div class="container">
            <img class="center-block img-responsive" src="images/sitemap_truespirit.png" />
        </div>
        <div class="container">
            <div class="container">
                <div class="col-md-2 col-s-1 col-xs-1">
                    <h3 class="process-number">06</h3>
                </div>
                <div class="col-md-10 col-s-1 col-xs-1">
                    <h3 class="process-title">Future Iterations</h3>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                    <ul>
                        <li>Add error handling functionality and testing.</li>
                        <li>Replace text with icons and test</li>
                        <li>More targeted testing of users in John's demographic.</li>
                        <li>Additional functionality: instead of testing what’s already there, ask users more about what’s missing.
                        </li>
                        <li>Think about responsive design: If the user ended up buying a tablet for his daughter (which he was thinking about), would this design translate?</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container project-header">
            <h2 class="col-md-12" id="lessons-learned">LESSONS LEARNED</h2>
        </div>
        <div class="project-border">
        </div>
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12">
                    <p>Especially in the early stages, don’t worry about details so much; instead, add value!</p>
                    <p>Design and UX are waaaay different: Color, branding, photos are unimportant at the wireframe stage. I need to back off of looks and focus on value to the user during the wireframing stage.</p>
                    <p>Explain my process more when presenting to others: Include more detail about site maps, concept maps, specific takeaways from competitors and other websites, and how this all connects to why things ended up the way they were. So much thought and time went into it; make that more apparent.</p>
                    <p>Test as much as you can and very early on in the process; the sooner, the better. Once it's in front of people, the issues become apparent even to your own eyes, and others can provide feedback.</p>
                    <p>Analyzing and applying conventions from other sites that the user is familiar with is a good way to create a 'learnable' site for the user.</p>
                </div>
            </div>
        </div>
    </div>
</div>
