/*=============================* global *===========================================*/

body {
    background: #ffffff;
    font-size: 20px;
    font-family: "adobe-caslon-pro", serif;
    color: #333333;
}
h1, h2, h3, h5 {
    font-family: "brandon-grotesque", sans-serif;
}
h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}
h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
h3 {
    font-size: 32px;
    font-style: normal;
    margin-top: 0;
    font-weight: 300;
}
h4 {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    font-family: "adobe-caslon-pro", serif;
}
h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}
p {
    line-height: 1.5em;
}
a:hover {
    text-decoration: none;
}
/*===================* components *====================================================*/
/*=======* fonts *=======*/

.font-spacing-md {
    letter-spacing: 2px;
}
.font-spacing-lg {
    letter-spacing: 3px;
}
/*=======* bg-block *=======*/

.bg-block {} .bg-block .container {
    padding: 40px 0 0 0;
}
.bg-block h1 {
    margin-top: 0;
    text-align: center;
}
.bg-block-gray {
    padding: 30px 0 60px 0;
    background-color: #d5d6e0;
    background-image: -webkit-linear-gradient(-0deg, #ffffff 0%, #d5d6e0 90%);
    background-image: linear-gradient(-0deg, #ffffff 0%, #d5d6e0 90%);
}
/*=======* buttons *=======*/

.btn {
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 10px 15px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #f47167;
    box-shadow: 0 5px #b1180d;
}
.btn-primary:hover {
    background-color: #f14f42;
    color: #eee;
}
.btn-primary:active {
    background-color: #f14f42;
    box-shadow: 0 3px #b1180d;
    transform: translateY(2px);
}
.btn-primary:focus {
    background-color: #f14f42;
}
.btn-lg {
    padding: 10px 36px;
}
/*=======* caption *=======*/

.caption {
    font-size: 18px;
    color: #333;
    font-style: italic;
    font-weight: 300;
    padding-top: 10px;
    line-height: 1.25em;
}
.caption p {
    padding-top: 10px;
}
/*=====================* nav *==========================================================*/
/*=======* navbar *=======*/

.navbar {
    background-color: #ffffff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}
.navbar {
    font-size: 20px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
}
.navbar a {
    color: #333333;
}
.navbar a:visited {
    color: #333333;
}
.navbar li a:hover {
    background-color: #eee;
}
.navbar li a:focus {
    background-color: #eee;
}
.icon-bar {
    background-color: #333333;
}
/*=====================* main *=============================================================*/

#main {
    padding: 130px 0 50px 0;
    background-color: #ffffff;
}
#main h1 {
    font-size: 36px;
}
#main h2 {
    font-weight: 300;
    font-size: 60px;
    padding-bottom: 100px;
}
#main p {
    padding: 30px 0 0 0;
}
#main .fa-angle-down {
    display: block;
    color: #868ba5;
}
#main .fa-angle-down:hover {
    color: #f47167;
}
#main a {
    text-decoration: none;
}
/*=====================* work *==========================================================*/

#work h1 {
    padding: 20px 0;
}
#work .btn {
    margin: 40px 0;
}
#work .individual-project {
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.06));
    background-color: #ffffff;
    overflow: hidden;
    padding: 60px 0;
    position: relative;
}
/*=====================* about *==========================================================*/

#about {
    padding: 80px 40px;
}
#about p {
    font-size: 20px;
    margin: 20px 0;
}
#about .btn {
    font-size: 16px;
    background-color: #868ba5;
    box-shadow: 0 5px #565a73;
}
#about .btn:hover {
    background-color: #707594;
    color: #eee;
}
#about .btn:active {
    background-color: #707594;
    box-shadow: 0 3px #565a73;
    transform: translateY(2px);
}
#about .btn:focus {
    background-color: #707594;
}
/*=====================* email *==========================================================*/

#email {
    padding: 100px 0;
}
#email h4 {
    font-size: 40px;
    color: #333333;
    margin-bottom: 16px;
}
#email .btn {
    font-size: 24px;
}
/*=====================* footer *==========================================================*/

#footer {
    background-color: #f47167;
    background-image: -webkit-linear-gradient(-138deg, #f47167 0%, #868ba5 90%);
    background-image: linear-gradient(-132deg, #f47167 0%, #868ba5 90%);
    padding: 10px 0 20px 0;
}
#footer p {
    font-size: 16px;
    color: #ffffff;
    font-family: "brandon-grotesque", sans-serif;
}
.footer-copyright {
    text-decoration: underline;
    color: #ffffff;
}
.footer-copyright:hover {
    text-decoration: underline;
    color: #ffffff;
}
.footer-copyright:active {
    text-decoration: underline;
    color: #ffffff;
}
.footer-copyright:visited {
    text-decoration: underline;
    color: #ffffff;
}
/*=========* contact *==========*/

#contact a {
    color: #ffffff;
    text-decoration: none;
}
#contact a:visited {
    color: #ffffff;
}
#contact a:hover {
    color: #ebd9db;
}
#contact a:active {
    color: #9b515a;
}
#contact ul {
    text-align: center;
    margin: 80px 0;
}
#contact li {
    display: inline;
    padding: 16px;
}
/* =============================== project ======================================== */

.project {
    margin-top: 50px;
    margin-bottom: 100px;
}
.project h3 {
    font-weight: 700;
}
/*=======* project-banners *=======*/
/*.project-banner {
    background-color: #1e0743;
    background-image: -webkit-linear-gradient(-138deg, #1e0743 0%, #f47167 90%);
    background-image: linear-gradient(-132deg, #1e0743 0%, #f47167 90%);
    padding: 10px 0 20px 0;
}
.project-banner h1 {
    color: #ffffff;
}
.project-banner h4 {
    color: #ffffff;
}*/

#project-tagline {
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
}
/*=======* project-links *=======*/

img.center-block {
    padding: 0 15px;
}
.center {
    text-align: center;
}
#project-links {
    padding: 40px 0 0 0;
    font-size: 20px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
}
#project-links a {
    color: #f47167;
    text-decoration: none;
}
#project-links a:visited {
    color: #f47167;
}
#project-links a:hover {
    color: #333333;
}
#project-links a:active {
    color: #333333;
}
#project-links ul {
    text-align: center;
}
#project-links li {
    display: inline;
    padding: 20px;
}
/*=======* project-header *=======*/

.project-header {
    margin-top: 30px;
    text-align: center;
}
.project-border {
    border-bottom: 3px solid #f47167;
    width: 60px;
    margin: 0 auto;
}
/*=======* project process *=======*/

.process-number {
    border-bottom: 3px solid #f47167;
}
.process-title {
    padding-left: 15px;
}
/*=====================* media queries *==========================================================*/
/*=========* SM *==========*/

@media (max-width: 992px) {
    h1 {
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
    }
    .caption p {
        padding-top: 10px;
        clear: both;
    }
    .btn {
        padding: 10px;
        font-size: 16px;
        margin: 5px;
    }
    #main {
        padding: 60px 0 10px 0;
    }
    #main h1 {
        font-size: 24px;
    }
    #main h2 {
        font-size: 30px;
    }
    #about {
        padding: 10px;
    }
    #about p {
        font-size: 16px;
    }
    #email {
        padding: 50px;
    }
    #contact ul {
        margin: 20px 0;
    }
}
/*=========* XS *==========*/

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
    }
    li {
        font-size: 16px;
    }
    #email {
        padding: 20px 0 30px 0;
    }
    .bg-block-gray {
        padding: 10px 0 30px 0;
    }
    #project-links li {
        display: block;
        padding: 5px 0;
    }
    #project-tagline {
        font-size: 24px;
    }
    .process-number {
        border-bottom: 0px;
    }
    #work .individual-project {
        padding: 10px 0;
    }
}
